{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-Scores</title>
</head>
<body>
    <!-- <h1>🎓 G-Scores Menu</h1> -->
{% extends "scores/base.html" %}
{% block content %}
    <h2>Welcome to Gscores Web!</h2>
    <p>
        This is the homepage for the Gscores system.<br>
        Use the left menu to view report charts, search for scores, or see the top A students.<br>
        More features will be added soon!
    </p>
{% endblock %}
</body>
</html>
