<!DOCTYPE html>
<html>
<head>
    <title>G-Scores</title>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="header">Gscores Web</div>
    <div class="container">
        <nav class="sidebar">
            <div>
                <center>
                    <h2>Menu</h2>
                </center>
            </div>
            <a href="report.html">Report Charts</a>
            <a href="check_score.html">Check Score</a>
            <a href="top_group_a.html">Top A Students</a>
        </nav>
        <main class="main">
            <h1>Score Report by Subject</h1>
            <canvas id="reportChart"></canvas>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="js/config.js"></script>
            <script src="js/report.js"></script>
        </main>
    </div>
</body>
</html>

